@model Etapa1.Models.CardsModel

@{
    ViewBag.Title = "Arquivo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Arquivar Cartão </h2>

<p> Tem a certeza que deseja colocar o Cartão '@Model.Name' da lista '@Model.List.Name' no arquivo? </p>
@using(Html.BeginForm())
{
    <input type="submit" value="Sim"/>
}
<p> @Html.ActionLink("Voltar", "GetCard", "Cards", new { id = @Model.Id }, null) </p>