@using TrabalhoPT.DataMappers
@{
    ViewBag.Title = "Painel de Controlo";
}
<h2>Painel de Controlo</h2>
<table border="1">
@{
    var accounts = AccountDataMapper.GetAccountDataMapper().GetAll();
    foreach(var acc in accounts)
    {
         <tr>
         <td>@Html.ActionLink(acc.Username, "ShowInfo", "Account", acc, null) </td>
         <td>[@Html.ActionLink("Eliminar", "Delete", "Account", new { id = acc.Username }, null)]</td>
         <td>[@if(acc.Roles.Contains("Admin"))
            {
                @Html.ActionLink("Retirar o papel de Administrador", "ToUser", "Admin", new { id = acc.Username }, null)
            }
            else
            {
                @Html.ActionLink("Promover a Administrador", "ToAdmin", "Admin", new { id = acc.Username }, null)
            }]</td></tr>
    }
}
</table>
