@{
    ViewBag.Title = "Definir fotografia";
}

<h2>Definir fotografia</h2>

@using (Html.BeginForm("SetImage", "Account", FormMethod.Post, new { onSubmit = "return areAllReqFieldsFilled(this)" }))
{
    <p>
        @Html.Label("URL: ")
        @Html.Editor("ImageUrl","ImageUrl","ImageUrl")
    </p>
    <input type="submit" value="Submit"/>
}
