@model TrabalhoPT.Models.AccountModel
@{
    ViewBag.Title = "Definições";
}

<h2>Definições de conta:</h2>

<p>@Html.ActionLink("Mudar Password", "ChangePassword", "Account", @Model, null)</p>
<p>@Html.ActionLink("Mudar Email", "ChangeEmail", "Account", @Model, null)</p>